<hr class="vertical"/>
<div class="row">
<div class="col-md-12 clearfix">
  <div class="panel-group">

    <div class="panel panel-default no-padding ">
      <div class="panel-heading "><b>Your Profile / Upload Photo</b></div>
       <div class="panel-body panel-height">
       </div>
    </div>
  </div>
</div>
</div>
