<div class="row">
<div class="col-md-16 clearfix">
<div class="panel-group">

    <div class="panel panel-default with-nav-tabs no-padding">
      <div class="panel-heading "><b>Billing</b></div>
       <div class="panel-body ">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">All Invoices</a></li>
    <li><a data-toggle="tab" href="#menu1">Paid Invoices</a></li>
    <li><a data-toggle="tab" href="#menu2">Pending Payments</a></li>
  </ul>

          <div class="tab-content">

                <div id="home" class="jobs_body tab-pane fade in active">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Practice</th>
                              <th>Location</th>
                             </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>
                            <tr>
                              <td>02/03/2016</td>
                              <td><a href="http://www.esht.nhs.uk/">East Sussex NHS trust</td>
                              <td>Eastbourne</td>
                              </tr>
                             <tr>
                              <td>07/02/2016</td>
                              <td>Bexley Care Trust</td>
                              <td>Bexley</td>
                              </tr>
                              <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>
                            <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>
                            <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>

                          </tbody>
                        </table>
                  </div>

                <div id="menu1" class="jobs_body tab-pane">
                <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Practice</th>
                              <th>Location</th>
                             </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>
                            <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>
                          </tbody>
                        </table>
                </div>

                <div id="menu2" class="jobs_body tab-pane">
                <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Practice</th>
                              <th>Location</th>
                             </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>02/03/2016</td>
                              <td><a href="http://www.esht.nhs.uk/">East Sussex NHS trust</td>
                              <td>Eastbourne</td>
                            </tr>
                            <tr>
                              <td>07/02/2016</td>
                              <td>Bexley Care Trust</td>
                              <td>Bexley</td>
                            </tr>
                            <tr>
                              <td>31/12/2015</td>
                              <td><a href="http://www.kentcht.nhs.uk/home/">Kent NHS trust</td>
                              <td>Tunbridge Wells</td>
                            </tr>

                          </tbody>
                        </table>
                </div>


          </div>

</div>
</div>
</div>
</div>
</div>
