<div class="row">
<div class="col-md-15 clearfix">
<div class="panel-group">
    <div class="panel panel-default no-padding">
    <div class="panel-heading "><b>Profile</b></div>
           <div class="panel-body">
               <div class="profile-panel-picture panel panel-default pull-left">
                  <h5 class="profile-panel-picture photo"><b>Photo</b></h5>
                   <div class="panel-body"></div>
                </div>
               <div class="experiance-panel panel panel-default">
                    <h5><b>Experiance</b></h5>
                    <div class="panel-body"></div>
                </div>
                <div class="certification-panel panel panel-default">
                   <h5><b>Certification</b></h5>
                    <div class="panel-body"></div>
                </div>
                <div class="education-panel panel panel-default">
                   <h5><b>Education</b></h5>
                    <div class="panel-body"></div>
                </div>
            </div>
     </div>
</div>
</div>
</div>
